body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
  overflow:hidden;
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  text-align:center;
}

.bigHeart{
  font-size:120px;
  animation:pulse 2s infinite;
  color:#722F37;
}

.title{
  color:#8B0000;
  letter-spacing:2px;
}

input{
  padding:12px;
  margin:10px;
  background:#111;
  border:1px solid #8B0000;
  color:white;
}

.btn{
  padding:10px 20px;
  background:#722F37;
  border:none;
  color:white;
  cursor:pointer;
}

@keyframes pulse{
  0%{transform:scale(1);}
  50%{transform:scale(1.1);}
  100%{transform:scale(1);}
}
